button
{
  cursor: pointer;
}

.subscribe_button
{
  background-color: rgb(192, 0, 0);
  color: white;
  border: none;
  border-radius: 2px;
  height: 36px;
  width: 105px;
  margin-right: 8px;
}

.join_button
{
  color: rgb(22, 76, 163);
  background-color: white;
  border-color: rgb(22, 76, 163);
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
  height: 36px;
  width: 62px;
  margin-right: 8px;
}

.twitter_button
{
  color: white;
  background-color: rgb(22, 150, 255);
  border: none;
  border-radius: 20px;
  height: 36px;
  width: 74px;
  font-weight: bold;
  font-size: 15px;
}

.uber_button
{
  color: white;
  background-color: black;
  border: none;
  height:36px;
  width: 110px;
  margin-top: 8px;
}

.amazon_button
{
  color: black;
  background-color: rgb(255, 213, 27);
  border: none;
  border-radius: 20px;
  height: 36px;
  width: 160px;
}

.github_button
{
  color: white;
  background-color: rgb(84, 162, 87);
  border: none;
  border-radius: 4px;
  height: 36px;
  width: 75px;
}