button
{
  cursor: pointer;
  margin-top: 8px;
  margin-left: 4px;
  margin-right: 4px;
}

.subscribe_button
{
  background-color: rgb(192, 0, 0);
  color: white;
  border: none;
  border-radius: 2px;
  height: 36px;
  width: 105px;
  transition: opacity 150ms;
}

.subscribe_button:hover
{
  opacity: 0.7;
}

.subscribe_button:active
{
  opacity: 0.5;
}


.join_button
{
  color: rgb(40, 120, 210);
  background-color: white;
  border-color: rgb(40, 120, 210);
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
  height: 36px;
  width: 62px;
  transition: all 150ms;
}

.join_button:hover
{
  color: white;
  background-color: rgb(40, 120, 210);
}

.join_button:active
{
  opacity: 0.7;
}


.twitter_button
{
  color: white;
  background-color: rgb(22, 150, 255);
  border: none;
  border-radius: 20px;
  height: 36px;
  width: 74px;
  font-weight: bold;
  font-size: 15px;
  transition: box-shadow 150ms;
}

.twitter_button:hover
{
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
}

.uber_button
{
  color: white;
  background-color: black;
  border: none;
  height:36px;
  width: 110px;
}

.amazon_button
{
  color: black;
  background-color: rgb(255, 213, 27);
  border: none;
  border-radius: 20px;
  height: 36px;
  width: 160px;
}

.github_button
{
  color: white;
  background-color: rgb(84, 162, 87);
  border: none;
  border-radius: 4px;
  height: 36px;
  width: 75px;
}